{% extends 'base.html' %}

{% block conteudo %}

<div class="carrossel d-flex overflow-hidden">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner ">
    <div class="carousel-item active bg-dark" data-bs-interval="2000">
      <img src="/static/img/agronomai1.1.jpg" class="d-block w-100 opacity-50" alt="...">
    </div>
    <div class="carousel-item bg-dark" data-bs-interval="2000">
      <img src="/static/img/agronomia1.2.jpg" class="d-block w-100 opacity-50" alt="...">
    </div>
    <div class="carousel-item bg-dark" data-bs-interval="2000">
      <img src="/static/img/agronomia1.3.jpg" class="d-block w-100 opacity-50" alt="..." >
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

  <div class="w-100 h-100 position-absolute d-flex flex-column justify-content-evenly" >
        <p class="title-senai text-white display-1 text-center">Capacitação profissional na indústria</p>
        <p class="subtitle-senai text-white display-6 text-center">Confira o nosso curso agronomia </p>
    </div>
</div>

<div class="cursos">

  <div class="curso-text col-8">
      <p><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap" rel="stylesheet">A Agronomia é a ciência que engloba um conjunto de técnicas e conhecimentos científicos aplicados para otimizar a produção agropecuária (agrícola e animal), visando o manejo eficiente dos recursos naturais, a sustentabilidade e a produtividade</p>
  </div>

  <div class="curso-img bg-dark col-4">
      <img src="/static/img/agronomia1.4.jpg" class="w-100 h-100">
  </div>

</div>
<div class="cursos-1">

  <div class="curso-text col-8">
    <div class="curso-text col-8">
      <p><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap" rel="stylesheet">A Agronomia é a ciência que engloba um conjunto de técnicas e conhecimentos científicos aplicados para otimizar a produção agropecuária (agrícola e animal), visando o manejo eficiente dos recursos naturais, a sustentabilidade e a produtividade</p>
  </div>

  <div class="curso-img bg-dark col-4">
      <img src="/static/img/agronomia1.5.jpg" class="w-100 h-100">
  </div>

</div>

  </div>
  {% endblock %}