{% extends 'base.html'%}

{% block conteudo%}
<div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  id="form-login" action="/hexagono" method="post">
            <label>
                Nome:
                <input placeholder="digite o nome" name="form-nome" class="form-control">
                Data de nascimento:
                <input placeholder="dd/mm/aaaa" name="form-nome" class="form-control">
                cpf:

            </label>

            <button type="submit" class="btn btn-success">Entrar</button>
            <button  class="btn btn-denger" onclick="limpaInputsLogin">Cancelar</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>

{%endblock%}